<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Nos prestations</title>
  </head>
  <body>
    <%- include('../views/components/header.ejs') %> <%-
    include('../views/components/footer.ejs') %>
    <script src="/scripts/burger.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
